In [1]:
! python --version

Python 3.7.3

In [1]:
import pandas as pd

In [5]:
!ls /home/ubuntu/f1/data/

circuits.csv		   driver_standings.csv  qualifying.csv  status.csv
constructor_results.csv    drivers.csv		 races.csv
constructor_standings.csv  lap_times.csv	 results.csv
constructors.csv	   pit_stops.csv	 seasons.csv

In [25]:
qualifying=pd.read_csv('/home/ubuntu/f1/data/qualifying.csv')
qualifying.info()
qualifying[qualifying.raceId==1034].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8414 entries, 0 to 8413
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyId      8414 non-null   int64
 1   raceId         8414 non-null   int64
 2   driverId       8414 non-null   int64
 3   constructorId  8414 non-null   int64
 4   number         8414 non-null   int64
 5   position       8414 non-null   int64
 6   q1             8406 non-null   object
 7   q2             8290 non-null   object
 8   q3             8180 non-null   object
dtypes: int64(6), object(3)
memory usage: 591.7+ KB

Empty DataFrame
Columns: [qualifyId, raceId, driverId, constructorId, number, position, q1, q2, q3]
Index: []

In [24]:
qualifying[qualifying.raceId==1033]

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
8394,8418,1033,822,131,77,2,1:15.474,1:14.530,1:13.554
8395,8419,1033,840,211,18,3,1:14.895,1:15.176,1:14.377
8396,8420,1033,815,211,11,4,1:14.681,1:15.394,1:14.545
8397,8421,1033,20,6,5,5,1:15.455,1:15.131,1:14.774
8398,8422,1033,844,6,16,6,1:15.793,1:15.006,1:14.817
8399,8423,1033,830,9,33,7,1:15.495,1:14.976,1:14.849
8400,8424,1033,846,1,4,8,1:15.444,1:15.085,1:14.966
8401,8425,1033,832,1,55,9,1:15.281,1:15.267,1:15.027
8402,8426,1033,842,213,10,10,1:15.767,1:15.508,\N
8403,8427,1033,817,4,3,11,1:15.848,1:15.661,\N
8404,8428,1033,847,3,63,12,1:15.585,1:15.698,\N
8405,8429,1033,848,9,23,13,1:15.722,1:15.715,\N
8406,8430,1033,839,4,31,14,1:15.719,1:15.742,\N
8407,8431,1033,849,3,6,15,1:16.105,1:16.544,\N
8408,8432,1033,825,210,20,16,1:16.152,\N,\N
8409,8433,1033,826,213,26,17,1:16.204,\N,\N
8410,8434,1033,154,210,8,18,1:16.407,\N,\N
8411,8435,1033,841,51,99,19,1:16.506,\N,\N
8412,8436,1033,8,51,7,20,1:16.614,\N,\N
8413,8437,1033,1,131,44,1,1:14.907,1:14.261,1:13.447

In [20]:
races=pd.read_csv('/home/ubuntu/f1/data/races.csv')
races.info()
races[races.year==2020].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1026 entries, 0 to 1025
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   raceId     1026 non-null   int64
 1   year       1026 non-null   int64
 2   round      1026 non-null   int64
 3   circuitId  1026 non-null   int64
 4   name       1026 non-null   object
 5   date       1026 non-null   object
 6   time       1026 non-null   object
 7   url        1026 non-null   object
dtypes: int64(4), object(4)
memory usage: 64.2+ KB

,raceId,year,round,circuitId,name,date,time,url
1018,1031,2020,1,70,Austrian Grand Prix,2020-07-05,13:10:00,https://en.wikipedia.org/wiki/2020_Austrian_Gr...
1019,1032,2020,2,70,Styrian Grand Prix,2020-07-12,13:10:00,https://en.wikipedia.org/wiki/2020_Styrian_Gra...
1020,1033,2020,3,11,Hungarian Grand Prix,2020-07-19,13:10:00,https://en.wikipedia.org/wiki/2020_Hungarian_G...
1021,1034,2020,4,9,British Grand Prix,2020-08-02,13:10:00,https://en.wikipedia.org/wiki/2020_British_Gra...
1022,1035,2020,5,9,70th Anniversary Grand Prix,2020-08-09,13:10:00,https://en.wikipedia.org/wiki/70th_Anniversary...

In [7]:
drivers=pd.read_csv('/home/ubuntu/f1/data/drivers.csv')
drivers.info()
drivers.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 848 entries, 0 to 847
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverId     848 non-null    int64
 1   driverRef    848 non-null    object
 2   number       848 non-null    object
 3   code         848 non-null    object
 4   forename     848 non-null    object
 5   surname      848 non-null    object
 6   dob          848 non-null    object
 7   nationality  848 non-null    object
 8   url          847 non-null    object
dtypes: int64(1), object(8)
memory usage: 59.8+ KB

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [6]:
driver_standings=pd.read_csv('/home/ubuntu/f1/data/driver_standings.csv')
driver_standings.info()
driver_standings.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32646 entries, 0 to 32645
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   driverStandingsId  32646 non-null  int64
 1   raceId             32646 non-null  int64
 2   driverId           32646 non-null  int64
 3   points             32646 non-null  float64
 4   position           32646 non-null  int64
 5   positionText       32646 non-null  object
 6   wins               32646 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 1.7+ MB

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

In [17]:
drivers.driverRef.unique()

array(['hamilton', 'heidfeld', 'rosberg', 'alonso', 'kovalainen',
       'nakajima', 'bourdais', 'raikkonen', 'kubica', 'glock', 'sato',
       'piquet_jr', 'massa', 'coulthard', 'trulli', 'sutil', 'webber',
       'button', 'davidson', 'vettel', 'fisichella', 'barrichello',
       'ralf_schumacher', 'liuzzi', 'wurz', 'speed', 'albers',
       'markus_winkelhock', 'yamamoto', 'michael_schumacher', 'montoya',
       'klien', 'monteiro', 'ide', 'villeneuve', 'montagny', 'rosa',
       'doornbos', 'karthikeyan', 'friesacher', 'zonta', 'pizzonia',
       'matta', 'panis', 'pantano', 'bruni', 'baumgartner', 'gene',
       'frentzen', 'verstappen', 'wilson', 'firman', 'kiesa', 'burti',
       'alesi', 'irvine', 'hakkinen', 'marques', 'bernoldi', 'mazzacane',
       'enge', 'yoong', 'salo', 'diniz', 'herbert', 'mcnish', 'buemi',
       'takagi', 'badoer', 'zanardi', 'damon_hill', 'sarrazin', 'rosset',
       'tuero', 'nakano', 'magnussen', 'berger', 'larini', 'katayama',
       'sospiri', 'morbidelli', 'fontana', 'lamy', 'brundle',
       'montermini', 'lavaggi', 'blundell', 'suzuki', 'inoue', 'moreno',
       'wendlinger', 'gachot', 'schiattarella', 'martini', 'mansell',
       'boullion', 'papis', 'deletraz', 'tarquini', 'comas', 'brabham',
       'senna', 'bernard', 'fittipaldi', 'alboreto', 'beretta',
       'ratzenberger', 'belmondo', 'lehto', 'cesaris', 'gounon', 'alliot',
       'adams', 'dalmas', 'noda', 'lagorce', 'prost', 'warwick',
       'patrese', 'barbazza', 'andretti', 'capelli', 'boutsen',
       'apicella', 'naspetti', 'toshio_suzuki', 'gugelmin', 'poele',
       'grouillard', 'chiesa', 'modena', 'amati', 'caffi', 'bertaggia',
       'mccarthy', 'lammers', 'piquet', 'satoru_nakajima', 'pirro',
       'johansson', 'bailey', 'chaves', 'bartels', 'hattori', 'nannini',
       'schneider', 'barilla', 'foitek', 'langes', 'gary_brabham',
       'donnelly', 'giacomelli', 'alguersuari', 'grosjean', 'kobayashi',
       'palmer', 'danner', 'cheever', 'sala', 'ghinzani', 'weidler',
       'raphanel', 'arnoux', 'joachim_winkelhock', 'larrauri', 'streiff',
       'campos', 'schlesser', 'fabre', 'fabi', 'forini', 'laffite',
       'angelis', 'dumfries', 'tambay', 'surer', 'keke_rosberg', 'jones',
       'rothengatter', 'berg', 'manfred_winkelhock', 'lauda', 'hesnault',
       'baldi', 'bellof', 'acheson', 'watson', 'cecotto', 'gartner',
       'corrado_fabi', 'thackwell', 'serra', 'sullivan', 'salazar',
       'guerrero', 'boesel', 'jarier', 'villeneuve_sr', 'reutemann',
       'mass', 'borgudd', 'pironi', 'gilles_villeneuve', 'paletti',
       'henton', 'daly', 'mario_andretti', 'villota', 'lees', 'byrne',
       'keegan', 'rebaque', 'gabbiani', 'cogan', 'guerra', 'stohr',
       'zunino', 'londono', 'jabouille', 'francia', 'depailler',
       'scheckter', 'regazzoni', 'emerson_fittipaldi', 'kennedy', 'south',
       'needell', 'desire_wilson', 'ertl', 'brambilla', 'hunt',
       'merzario', 'stuck', 'brancatelli', 'ickx', 'gaillard', 'ribeiro',
       'peterson', 'lunger', 'ongais', 'leoni', 'galica', 'stommelen',
       'colombo', 'trimmer', 'binder', 'bleekemolen', 'gimax', 'rahal',
       'pace', 'ian_scheckter', 'pryce', 'hoffmann', 'zorzi', 'nilsson',
       'perkins', 'hayje', 'neve', 'purley', 'andersson', 'dryver',
       'oliver', 'kozarowitzky', 'sutcliffe', 'edwards', 'mcguire',
       'schuppan', 'heyer', 'pilette', 'ashley', 'kessel', 'takahashi',
       'hoshino', 'takahara', 'lombardi', 'evans', 'leclere', 'amon',
       'zapico', 'pescarolo', 'nelleman', 'magee', 'wilds',
       'pesenti_rossi', 'stuppacher', 'brown', 'hasemi', 'donohue',
       'hill', 'wilson_fittipaldi', 'tunmer', 'keizan', 'charlton',
       'brise', 'wunderink', 'migault', 'palm', 'lennep', 'fushida',
       'nicholson', 'morgan', 'crawford', 'vonlanthen', 'hulme',
       'hailwood', 'beltoise', 'ganley', 'robarts', 'revson', 'driver',
       'belso', 'redman', 'opel', 'schenken', 'larrousse', 'kinnunen',
       'wisell', 'roos', 'dolhem', 'gethin', 'bell', 'hobbs', 'quester',
       'koinigg', 'facetti', 'wietzes', 'cevert', 'stewart', 'beuttler',
       'galli', 'bueno', 'follmer', 'adamich', 'pretorius', 'williamson',
       'mcrae', 'marko', 'walker', 'roig', 'love', 'surtees', 'barber',
       'brack', 'posey', 'rodriguez', 'siffert', 'bonnier', 'mazet',
       'jean', 'elford', 'moser', 'eaton', 'lovely', 'craft', 'Cannoc',
       'jack_brabham', 'miles', 'rindt', 'gavin', 'mclaren', 'courage',
       'klerk', 'giunti', 'gurney', 'hahne', 'hutchison', 'westbury',
       'tingle', 'rooyen', 'attwood', 'pease', 'cordts', 'clark',
       'spence', 'scarfiotti', 'bianchi', 'jo_schlesser', 'widdows',
       'ahrens', 'gardner', 'unser', 'solana', 'anderson', 'botha',
       'bandini', 'ginther', 'parkes', 'irwin', 'ligier', 'rees', 'hart',
       'fisher', 'tom_jones', 'baghetti', 'williams', 'bondurant',
       'arundell', 'vic_wilson', 'taylor', 'lawrence', 'trevor_taylor',
       'geki', 'phil_hill', 'ireland', 'bucknum', 'hawkins', 'prophet',
       'maggs', 'blokdyk', 'lederle', 'serrurier', 'niemann', 'pieterse',
       'puzey', 'reed', 'clapham', 'blignaut', 'gregory', 'rhodes',
       'raby', 'rollinson', 'gubby', 'mitter', 'bussinello', 'vaccarella',
       'bassi', 'trintignant', 'collomb', 'andre_pilette', 'beaufort',
       'barth', 'cabral', 'hansgen', 'sharp', 'mairesse',
       'campbell-jones', 'burgess', 'settember', 'estefano', 'hall',
       'parnell', 'kuhnke', 'ernesto_brambilla', 'lippi', 'seiffert',
       'abate', 'starrabba', 'broeker', 'ward', 'vos', 'dochnal',
       'monarch', 'gasly', 'lewis', 'ricardo_rodriguez', 'seidel',
       'salvadori', 'pon', 'slotemaker', 'marsh', 'ashmore', 'schiller',
       'davis', 'chamberlain', 'shelly', 'greene', 'walter', 'prinoth',
       'penske', 'schroeder', 'mayer', 'johnstone', 'harris', 'hocking',
       'vyver', 'moss', 'trips', 'allison', 'herrmann', 'brooks', 'may',
       'henry_taylor', 'gendebien', 'scarlatti', 'naylor', 'bordeu',
       'fairman', 'natili', 'monteverdi', 'pirocchi', 'duke', 'thiele',
       'boffa', 'ryan', 'ruby', 'ken_miles', 'menditeguy', 'larreta',
       'gonzalez', 'bonomi', 'munaron', 'schell', 'stacey', 'chimeri',
       'creus', 'bristow', 'halford', 'daigh', 'reventlow', 'rathmann',
       'goldsmith', 'branson', 'thomson', 'johnson', 'veith',
       'tingelstad', 'christie', 'amick', 'darter', 'homeier', 'hartley',
       'stevenson', 'grim', 'templeman', 'hurtubise', 'bryan', 'ruttman',
       'sachs', 'freeland', 'bettenhausen', 'weiler', 'foyt', 'russo',
       'boyd', 'force', 'mcwithey', 'sutton', 'dick_rathmann', 'herman',
       'dempsey_wilson', 'mike_taylor', 'flockhart', 'piper', 'cabianca',
       'drogo', 'gamble', 'owen', 'gould', 'drake', 'bueb', 'Changy',
       'filippis', 'lucienbonnet', 'testut', 'behra', 'paul_russo',
       'daywalt', 'arnold', 'keller', 'flaherty', 'cheesbourg',
       'ray_crawford', 'turner', 'weyant', 'larson', 'magill', 'shelby',
       'orey', 'fontes', 'ashdown', 'bill_moss', 'dennis_taylor',
       'blanchard', 'tomaso', 'constantine', 'said', 'cade', 'musso',
       'hawthorn', 'fangio', 'godia', 'collins', 'kavanagh', 'gerini',
       'kessler', 'emery', 'piotti', 'ecclestone', 'taramazzo', 'chiron',
       'lewis-evans', 'george_amick', 'reece', 'parsons', 'tolan',
       'garrett', 'elisian', 'connor', 'jerry_unser', 'bisch', 'goethals',
       'gibson', 'la_caze', 'guelfi', 'picard', 'bridger', 'portago',
       'perdisa', 'castellotti', 'simon', 'leston', 'hanks', 'linden',
       'teague', 'edmunds', 'agabashian', 'george', 'macdowel',
       'mackay-fraser', 'gerard', 'maglioli', 'england', 'landi', 'uria',
       'ramos', 'bayol', 'manzon', 'rosier', 'sweikert', 'griffith',
       'dinsmore', 'andrews', 'frere', 'villoresi', 'scotti', 'chapman',
       'titterington', 'scott_Brown', 'volonterio', 'milhoux',
       'graffenried', 'taruffi', 'farina', 'mieres', 'mantovani', 'bucci',
       'iglesias', 'ascari', 'kling', 'birger', 'pollet', 'macklin',
       'whiteaway', 'davies', 'faulkner', 'niday', 'cross', 'vukovich',
       'mcgrath', 'hoyt', 'claes', 'peter_walker', 'sparken', 'wharton',
       'mcalpine', 'marr', 'rolt', 'fitch', 'lucas', 'bira', 'marimon',
       'loyer', 'daponte', 'nazaruk', 'crockett', 'ayulo', 'armi', 'webb',
       'duncan', 'mccoy', 'swaters', 'georges_berger', 'beauman',
       'thorne', 'whitehouse', 'riseley_prichard', 'reg_parnell',
       'whitehead', 'brandon', 'alan_brown', 'nuckey', 'lang', 'helfrich',
       'wacker', 'riu', 'galvez', 'john_barber', 'bonetto', 'cruz',
       'nalon', 'scarborough', 'holland', 'bob_scott', 'legat',
       'cabantous', 'crook', 'jimmy_stewart', 'ian_stewart',
       'duncan_hamilton', 'klodwig', 'krause', 'karch', 'heeks', 'fitzau',
       'adolff', 'bechem', 'bauer', 'hans_stuck', 'loof', 'scherrer',
       'terra', 'hirt', 'carini', 'fischer', 'ulmen', 'abecassis',
       'george_connor', 'rigsby', 'james', 'schindler', 'fonder', 'banks',
       'mcdowell', 'miller', 'ball', 'tornaco', 'laurent', 'obrien',
       'gaze', 'charrington', 'comotti', 'etancelin', 'poore', 'thompson',
       'downing', 'graham_whitehead', 'bianco', 'murray', 'cantoni',
       'aston', 'brudes', 'riess', 'niedermayr', 'klenk', 'balsa',
       'schoeller', 'pietsch', 'peters', 'lof', 'flinterman', 'dusio',
       'crespo', 'rol', 'sanesi', 'guy_mairesse', 'louveau', 'wallard',
       'forberg', 'rose', 'mackey', 'green', 'walt_brown', 'hellings',
       'levegh', 'chaboud', 'gordini', 'kelly', 'parker', 'shawe_taylor',
       'john_james', 'branca', 'richardson', 'jover', 'grignard',
       'hampshire', 'crossley', 'fagioli', 'harrison', 'fry', 'martin',
       'leslie_johnson', 'biondetti', 'pian', 'sommer', 'chitwood',
       'fohr', 'ader', 'holmes', 'levrett', 'jackson', 'pagani', 'pozzi',
       'serafini', 'cantrell', 'mantz', 'kladis', 'oscar_gonzalez',
       'hulkenberg', 'petrov', 'grassi', 'bruno_senna', 'chandhok',
       'maldonado', 'resta', 'perez', 'ambrosio', 'ricciardo', 'vergne',
       'pic', 'chilton', 'gutierrez', 'bottas', 'garde', 'jules_bianchi',
       'kevin_magnussen', 'kvyat', 'lotterer', 'ericsson', 'stevens',
       'max_verstappen', 'nasr', 'sainz', 'merhi', 'rossi',
       'jolyon_palmer', 'wehrlein', 'haryanto', 'vandoorne', 'ocon',
       'stroll', 'giovinazzi', 'brendon_hartley', 'leclerc', 'sirotkin',
       'norris', 'russell', 'albon', 'latifi'], dtype=object)

In [12]:
drivers[drivers.driverRef=='hamilton'].driverId.values[0]

1

In [16]:
driver_standings[driver_standings.driverId==drivers[drivers.driverRef=='hamilton'].driverId.values[0]].position.value_counts(dropna=False)

1     104
2      63
4      31
3      21
5      15
6       6
7       5
11      3
10      2
19      1
9       1
8       1
Name: position, dtype: int64

In [18]:
driver_standings[driver_standings.driverId==drivers[drivers.driverRef=='alonso'].driverId.values[0]].position.value_counts(dropna=False)

1     52
2     40
5     35
3     26
4     24
6     15
9     14
8     14
23    11
10    10
15    10
11    10
7      9
16     9
17     9
12     5
18     5
19     5
21     4
13     3
14     3
20     3
Name: position, dtype: int64

In [4]:
circuits=pd.read_csv('/home/ubuntu/f1/data/circuits.csv')
circuits.info()
circuits.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   circuitId   74 non-null     int64
 1   circuitRef  74 non-null     object
 2   name        74 non-null     object
 3   location    74 non-null     object
 4   country     74 non-null     object
 5   lat         74 non-null     float64
 6   lng         74 non-null     float64
 7   alt         74 non-null     object
 8   url         74 non-null     object
dtypes: float64(2), int64(1), object(6)
memory usage: 5.3+ KB

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,\N,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,\N,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,\N,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,\N,http://en.wikipedia.org/wiki/Istanbul_Park